.light-mode-background,
.dark-mode-background {
  background-image: url(./assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  height: 13rem;
}
.dark-mode-background {
  background-image: url(./assets/bg-mobile-dark.jpg);
}
h1 {
  margin: 0;
  color: #fff;
}
header img {
  cursor: pointer;
}
.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 2rem;
}
.input-center {
  display: flex;
  justify-content: center;
}
.input-center input {
  width: 80%;
  margin: 2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
}

main {
  width: 89%;
  margin: 0 auto;
  height: 20rem;
  position: relative;
  top: -2.5rem;
  border-radius: 0.4rem;
}
.tarea-card {
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
.tarea-card p {
  margin: 0;
  padding: 1rem;
}
.dark-mode-input,.main-dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: #fff;
}
.light-mode-input,.main-light-mode {
  background-color: #fff;
}
