.light-mode-background,
.dark-mode-background {
  background-image: url(./assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  height: 13rem;
}
.dark-mode-background {
  background-image: url(./assets/bg-mobile-dark.jpg);
}
h1 {
  margin: 0;
  color: #fff;
}
header img {
  cursor: pointer;
}
.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 2rem;
}
.input-center {
  display: flex;
  justify-content: center;
}
.input-center input {
  width: 80%;
  margin: 2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
}

main {
  width: 89%;
  margin: 0 auto;
  min-height: 20rem;
  position: relative;
  top: -2.5rem;
  border-radius: 0.4rem;
}
.tarea-card {
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.tarea-card p {
  margin: 0;
  margin-left: 1rem;
}
.dark-mode-input,
.main-dark-mode {
  background-color: hsl(235, 24%, 19%);

  color: #fff;
}
.light-mode-input,
.main-light-mode {
  background-color: #fff;
}
.circulo-tarea {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tarea-hecha {
  background: rgb(87, 221, 255);
  background: linear-gradient(
    140deg,
    rgba(87, 221, 255, 1) 35%,
    rgba(192, 88, 243, 1) 100%
  );
}
.tarea-hecha-parrafo{
  opacity: 30%;
  text-decoration: line-through;
  text-decoration-thickness: .15rem;
}

.check-icon {
  width: 1.5rem;
  user-select: none;
}
.tarea-centrado {
  display: flex;
  align-items: center;
}
.cross-icon {
  width: 1.3rem;
  cursor: pointer;
}
.no-tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 0;
}

